/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

*{
    box-sizing: border-box;
}

/*Styling used throught web page*/
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px;
  padding: 5px;
  margin-top: 0px;
  border-style: solid;
  border-color: #28827c;
  border-width: 0px;
  border-left-width: 3px;
  border-right-width: 3px;
  text-align: center;
}

section, main{
  padding: 25px;
}

section h2, main h2 {
  color:#28827c;
  font-size:30px;
  text-align: center;
}

/* Navigation bar styles ============= */
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color:#28827c;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
} 

#mainNav .navbar-brand {
  color: #eccf88;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #eccf88;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #eccf88 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #eccf88;
}

/* Jumbotron  */
.jumbotron {
    background-image: url(../images/Aurora.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 0px;
    /* text-align: center; */
}
  
/* Jumbotron secondary container */
.hero {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
}

/* Styling for headshot picture */
.MyPicture{
    width: 150px;
    height: 100%;
}
  
.MyPicture img {
    width: auto;
    height:200px;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
}

/* About me and skills section*/
.list{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#AboutMe{
    background-color: #c1b3b3; 
    padding-top: 55px;
    padding-bottom: 55px;
}

/* Work section*/

#Work{
    background-color: #eccf88;
    padding-top: 55px;
    padding-bottom: 55px;
}

.cardContainer {
    margin-bottom: 15px;
  }
.card {
    margin: 0 auto;
}
.cardContainer p{
    margin: 0px;
    margin-bottom: 10px;
}

.card P{
    border-right-width: 0px;
    text-align: left;
}

/*Contact Section*/
.contact-section {
    padding-top: 55px;
    padding-bottom: 260px;
  }
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #28827c;
  }
  .contact-section .card h4 {
    font-size: 0.8rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  .contact-section .card hr {
    border-color: #28827c;
    border-width: 0.25rem;
    width: 3rem;
  }
  .contact-section .social {
    margin-top: 5rem;
  }
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
  }
  .contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .contact-section .social a:active {
    color: #fff;
  }
  
  .bg-grey {
    background-color: #c1b3b3 !important;
  }

  
